@model mercy_developer.Models.Descripcionservicio

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Seguro que quieres borrar esto</h3>
<div>
    <h4>Descripcionservicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Servicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Servicio.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Volver a la Lista</a>
    </form>
</div>
