@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Aprenda a <a href="https://learn.microsoft.com/aspnet/core">crear aplicaciones web con ASP.NET Core</a>.</p>
    <img src="/css/sede_cft.jpg" alt="Sede de referencia" style="max-width: 100%; margin-top: 20px;">
</div>
